# Core dependencies
streamlit
pandas
numpy
requests
Pillow
torch
torchvision
scikit-learn
fastapi
uvicorn
show_ai_assistant_rag
SentenceTransformer

# Visualization
matplotlib
seaborn

# Additional utilities
python-dotenv